.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  color: #222;
  background: #fff;
  font: 100% system-ui;
  height: 100%;
  width: 100%;
}
a {
  color: #0033cc;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }
}
body, html { height:100%; padding:0; margin:0;}
.header{
  position: relative;
  display: inline-block;
  width:100%;
  height:10%;
}
.center {
  margin: auto;
  width: 20%;
  border: 5px solid #4a4a4a;
  height: 500px;
}

.center-text {
  margin: auto;
  height:100%;
}

.left-third {
  display: inline-block;
  float: left;
  position:relative;
  padding-top:20px;
  width: 33%;
}

.left-twothirds {
  display: inline-block;
  float: left;
  position:relative;
  padding-top:20px;
  height:100%;
  width: 67%;
}

.bottom{
  display: inline-block;
  position:relative;
  width: 100%;
  height: 50%;
}

.volcanoDisplay{
  height: 90%;
  width: 100%;
}

.firstHalf{
   height: 50%;
   width: 100%;
   display: inline-block;
   position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.chart{
  height: 50%;
  width: 50%;
  padding-left: 25%;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: grey;
  border: 1px solid grey;
  color: #fff;
  padding: 10px 20px;
}

select {
  width:200px;
}